<ion-view view-title="{{aboupage.title}}">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="list">
    <!-- About page -->
      <h4>{{aboupage.title}}</h4>
      <div class="item item-body" ng-bind-html="trustAsHtml(aboupage.description)"></div>
    <!-- About Press Kit page -->
      <h4>{{aboutpresskitpage.title}}</h4>
      <div class="item item-body" ng-bind-html="trustAsHtml(aboutpresskitpage.description)"></div>
    <!-- About Professional Services page -->
      <h4>{{aboutprofessrvpage.title}}</h4>
      <div class="item item-body" ng-bind-html="trustAsHtml(aboutprofessrvpage.description)"></div>
    <!-- About Business Subscription page -->
      <h4>{{aboutbizsubspage.title}}</h4>
      <div class="item item-body" ng-bind-html="trustAsHtml(aboutbizsubspage.description)"></div>

    </div>
  </ion-content>
</ion-view>
