<ion-view view-title="{{aboupage.title}}">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="list">
    <!-- About page -->
      <div class="card">
        <div class="item item-divider">{{aboupage.title}}</div>
        <div class="item item-body" ng-bind-html="trustAsHtml(aboupage.description)"></div>
      </div>
    <!-- About Press Kit page -->
      <div class="card">
        <div class="item item-divider">{{aboutpresskitpage.title}}</div>
        <div class="item item-body" ng-bind-html="trustAsHtml(aboutpresskitpage.description)"></div>
      </div>
    <!-- About Professional Services page -->
      <div class="card">
	    <div class="item item-divider">{{aboutprofessrvpage.title}}</div>
        <div class="item item-body" ng-bind-html="trustAsHtml(aboutprofessrvpage.description)"></div>
      </div>
    <!-- About Business Subscription page -->
      <div class="card">
        <div class="item item-divider">{{aboutbizsubspage.title}}</div>
        <div class="item item-body" ng-bind-html="trustAsHtml(aboutbizsubspage.description)"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
