<ion-view view-title="About OBizR">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="list staticpage">
    <!-- About page -->
      <div class="card">
        <div class="item item-divider">About OBizR</div>
        <!--<div class="item item-body" ng-bind-html="trustAsHtml(aboupage.description)"></div>-->
         <div class="item item-body">
          <p>OBizR is a location-based local business review, directory, and citizen-generated open data platform for Africa. "OBizR Sierra Leone" is your local guide to finding the best places to eat, shop, sleep, bank, drink, learn, exercise, relax, watch a game, buy medication, do business with the government, NGOs, Foreign Missions, and play in Sierra Leone.</p>

             <p>Use OBizR Sierra Leone to quickly find top rated businesses nearby. Its free and easy to share your experience using five-star ratings, photos, and text comments. Your shared experience will help others like you make informed decisions. Your reviews will help the business owner improve service delivery</p>

             <h3>OBizR Key Features</h3>
                <ul>
                <li class="item">Find top rated businesses nearby</li>
                <li class="item">Get directions to business location</li>
                <li class="item">Find opening and closing hours</li>
                <li class="item">Contact business via email and phone</li>
                <li class="item">Write a review with photos and five-star rating</li>
                <li class="item">Update business details when they not wrong</li>
                <li class="item">Receive mobile notifications and SMS Alerts</li>
                <li class="item">Make new friends and follow reviewers</li>
                <li class="item">Send and receive inApp messages</li>
                </ul>
             <h3 class="center-block home-block-title rtecenter">Our Statistics so far</h3>
             <ul class="list-group item">
                <li class="item">Over 4,000 Schools</li>
                <li class="item">Over 1,725 Healthcare Facilities</li>
                <li class="item">Over 1,500 businesses and brands</li>
                <li class="item">Over 1,040 NGOs</li>
                <li class="item">Over 400 Hospitality Businesses</li>
                <li class="item">Over 100 MDAs </li>
             </ul>

          </div>
      </div>
    <!-- About Press Kit page -->
      <div class="card">
        <div class="item item-divider">Press Kit</div>
        <!--<div class="item item-body" ng-bind-html="trustAsHtml(aboutpresskitpage.description)"></div>-->
          <div class="item item-body">
              <div class="row">
              <div class="col">
                <a href="assets/img/brochure-full-2016-color.jpg" class="thumbnail">
                  <img src="assets/img/obizr-brochure.jpg" alt="OBizR Brochure">
                </a>
              </div>
            <div class="col">
                <a href="assets/img/postcard-full-2016-color.jpg" class="thumbnail">
                  <img src="/assets/img/obizr-postcard.jpg" alt="OBizR Postcard">
                </a>
              </div>
            </div>
            <div class="row">
            <div class="col">
                <a href="assets/img/sticker-full-2016-color.jpg" class="thumbnail">
                  <img src="assets/img/obizr-sticker.jpg" alt="OBizR Sticker">
                </a>
              </div>
            <div class="col">
                <a href="assets/img/logo-full-2016-color.jpg" class="thumbnail">
                  <img src="assets/img/obizr-logo.jpg" alt="OBizR Logo">
                </a>
              </div>
            </div>
            <h3>Contant Information</h3>
            <address>84 Kissy Road, 3rd Floor<br />
            Freetown, Sierra Leone<br />
            P:232 22 250-265/78 535-009<br />
            W: <a href="http://obizr.io">http://obizr.io</a><br />
            E: <a href="mailto:info@<em>obizr.com">info@<em>obizr.com</em></a><br />
            F: <a href="https://www.facebook.com/obizr">On Facebook</a><br />
            T: <a href="https://twitter.com/openbizr">On Twitter</a><br />
            G: <a href="https://plus.google.com/+ReviewsSlapp">On Google Plus</a><br />
            Y: <a href="https://www.youtube.com/c/ReviewsSlapp">On YouTube</a></address>

            </div>

      </div>

    <!-- About Professional Services page -->
      <div class="card">
	    <div class="item item-divider">Professional Services</div>
        <!--<div class="item item-body" ng-bind-html="trustAsHtml(aboutprofessrvpage.description)"></div>-->
          <div class="list">
            <ul>
            <li><a href="#" class="item">Social Media Strategy</a></li>
            <li><a href="#" class="item">Content Strategy</a></li>
            <li><a href="#" class="item">Digital Strategy</a></li>
            <li><a href="#" class="item">User Experience</a></li>
            <li><a href="#" class="item">Web Development</a></li>
            <li><a href="#" class="item">Mobile Development</a></li>
            <li><a href="#" class="item">Enhanced OBizR Listing and Analytics</a></li>
            </ul>
         </div>
      </div>
    <!-- About Business Subscription page -->
      <div class="card">
        <div class="item item-divider">Paid Subscription Plans</div>
        <!--<div class="item item-body" ng-bind-html="trustAsHtml(aboutbizsubspage.description)"></div>-->
          <div class="item item-body">
          <div class="row responsive-sm">
                            <div class="col">
              <div class="panel price panel-success">
						<div class="panel-heading arrow_box text-center">
						<h3 class="item-divider">DIAMOND</h3>
						</div>
						<div class="panel-body text-center">
							<h4><strong>LE 5,000,000/yr</strong></h4>
						</div>
						<ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-success"></i> GOLD PLAN</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> One .sl Sub Domain</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> Social Media Links</li>
                            <li class="list-group-item"><i class="icon-ok text-success"></i> 12 Opinion Polls</li>
                            <li class="list-group-item"><i class="icon-ok text-success"></i> 3 Public Surveys</li>
                            <li class="list-group-item"><i class="icon-ok text-success"></i> 5 Pages Website</li>
                            <li class="list-group-item"><i class="icon-ok text-success"></i> 5hrs Digital Strategy</li>
                            <li class="list-group-item"><i class="icon-ok text-success"></i> 5hrs website review</li>

						</ul>
						<div class="panel-footer text-center">
							<a class="button button-assertive" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=R2W6MXQUWYAV6" target="_blank">SUBSCRIBE NOW!</a>
						</div>
					</div>
              </div>


              <div class="col">
              <div class="panel price panel-warning">
						<div class="panel-heading arrow_box text-center">
						<h3 class="item-divider">GOLD</h3>
						</div>
						<div class="panel-body text-center">
							<h4><strong>LE 1,200,000/yr</strong></h4>

						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-success"></i> SILVER PLAN</li>
                             <li class="list-group-item"><i class="icon-ok text-info"></i> Professional photos</li>
                             <li class="list-group-item"><i class="icon-ok text-info"></i> Enhanced banner</li>
                             <li class="list-group-item"><i class="icon-ok text-info"></i> 1 Opinion poll</li>
                             <li class="list-group-item"><i class="icon-ok text-info"></i> 1 Public survey</li>
                             <li class="list-group-item"><i class="icon-ok text-info"></i> 1 Window Sticker</li>
                             <li class="list-group-item"><i class="icon-ok text-info"></i> 2hrs Digital Strategy</li>
                             <li class="list-group-item"><i class="icon-ok text-info"></i> 2hrs website review</li>
						</ul>
						<div class="panel-footer text-center">
							<a class="button button-energized" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7DYR9SZ9T5S84" target="_blank">SUBSCRIBE NOW!</a>
						</div>
					</div>
              </div>
    <div class="col">
              <div class="panel price panel-danger">
						<div class="panel-heading arrow_box text-center">
						<h3 class="item-divider">SILVER</h3>
						</div>
						<div class="panel-body text-center">
							<h4><strong>LE 600,000/yr</strong></h4>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-info"></i> FREE PLAN</li>
                            <li class="list-group-item"><i class="icon-ok text-info"></i> Add 5 photos</li>
                            <li class="list-group-item"><i class="icon-ok text-info"></i> Add contact info</li>
                            <li class="list-group-item"><i class="icon-ok text-info"></i> Manage business</li>
                            <li class="list-group-item"><i class="icon-ok text-info"></i> Manage reviews</li>
                            <li class="list-group-item"><i class="icon-ok text-info"></i> 24/7 Tech Support</li>
                            <li class="list-group-item"><i class="icon-ok text-info"></i> Featured Banner</li>
                            <li class="list-group-item"><i class="icon-ok text-info"></i> Enhanced Listing</li>
						</ul>
						<div class="panel-footer text-center">
							<a class="button button-light" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=CUG9HNESKW8A8" target="_blank">SUBSCRIBE NOW!</a>
						</div>
					</div>
              </div>
          </div>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
