<ion-view view-title="What's New">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="list">
    <!-- Getting Started Reviewers -->
      <div class="card">
	    <div class="item item-divider">Version 0.0.2</div>
        <div class="item item-body">
          <div class="list">
              <div class="item">
                Candy Bars
              </div>
              <a class="item" href="#">
                Butterfinger
              </a>
            </div>
          </div>
      </div>
    <!--Getting Started Business -->
      <div class="card">
	    <div class="item item-divider">Version 0.0.1</div>
        <div class="item item-body"></div>
          </div>
    <!--Getting Started Developer Build -->
      <div class="card">
	    <div class="item item-divider">Release Candidate</div>
       <div class="item item-body"></div>
      </div>
    <!--Getting Started Developer learn -->
      <div class="card">
	    <div class="item item-divider">Beta Release</div>
        <div class="item item-body"></div>
      </div>
    <!--Getting Started Public Services -->
      <div class="card">
	    <div class="item item-divider">Alpha Release</div>
        <div class="item item-body"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
