<ion-view view-title="Getting started">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="list">
    <!-- Getting Started Reviewers -->
      <div class="card">
	    <div class="item item-divider">{{gsreviverpage.title}}</div>
        <div class="item item-body" ng-bind-html="trustAsHtml(gsreviverpage.description)"></div>
      </div>
    <!--Getting Started Business -->
      <div class="card">
	    <div class="item item-divider">{{gsbizpage.title}}</div>
        <div class="item item-body" ng-bind-html="trustAsHtml(gsbizpage.description)"></div>
      </div>
    <!--Getting Started Developer Build -->
      <div class="card">
	    <div class="item item-divider">{{gsbuildpage.title}}</div>
        <div class="item item-body" ng-bind-html="trustAsHtml(gsbuildpage.description)"></div>
      </div>
    <!--Getting Started Developer learn -->
      <div class="card">
	    <div class="item item-divider">{{gslearnpage.title}}</div>
        <div class="item item-body" ng-bind-html="trustAsHtml(gslearnpage.description)"></div>
      </div>
    <!--Getting Started Public Services -->
      <div class="card">
	    <div class="item item-divider">{{gspubsevpage.title}}</div>
        <div class="item item-body" ng-bind-html="trustAsHtml(gspubsevpage.description)"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
