<ion-view view-title="Add Business">
   <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="addBiz()">Done</button>
    </ion-nav-buttons>
  </ion-nav-bar>

<ion-content>
    <div class="card" ng-if="serverErrors.length">
      <div class="item item-text-wrap" ng-repeat="serverError in serverErrors">
        {{serverError}}
      </div>
    </div>
    <div class="list">
      <div class="item item-divider">Country</div>
      <label class="item item-input">
        <input type="text" placeholder="Sierra Leone" value="Sierra Leone">
      </label>

      <div class="item item-divider">Required Information</div>
      <a class="item item-icon-right" ng-click="setBizValFor('Name')">
        <i class="icon ion-ios-arrow-right icon-small"></i>
        <span class="item-note">Insert value</span>
        Name
      </a>
       <a class="item item-icon-right" ng-click="setBizValFor('Category')">
        <i class="icon ion-ios-arrow-right icon-small"></i>
        <span class="item-note">Insert value</span>
        Category
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Keywords')">
        <i class="icon ion-ios-arrow-right icon-small"></i>
        <span class="item-note">Insert value</span>
        Keywords
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Address')">
        <i class="icon ion-ios-arrow-right icon-small"></i>
        <span class="item-note">Insert value</span>
        Address
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Geocode')">
        <i class="icon ion-ios-arrow-right icon-small"></i>
        <span class="item-note">Insert value</span>
        Geocode
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Chiefdom')">
        <i class="icon ion-ios-arrow-right icon-small"></i>
        <span class="item-note">Insert value</span>
        Chiefdom
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Email')">
        <i class="icon ion-ios-arrow-right icon-small"></i>
        <span class="item-note">Insert value</span>
        Email
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Phone')">
        <i class="icon ion-ios-arrow-right icon-small"></i>
        <span class="item-note">Insert value</span>
        Phone
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Hours')">
        <i class="icon ion-ios-arrow-right icon-small"></i>
        <span class="item-note">Insert value</span>
        Hours
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Description')">
        <i class="icon ion-ios-arrow-right icon-small"></i>
        <span class="item-note">Insert value</span>
        Description
      </a>

      <div class="item item-divider">Optional Information</div>
      <a class="item item-icon-right" ng-click="setBizValFor('Bebsite')">
        <i class="icon ion-ios-arrow-right icon-small"></i>
        <span class="item-note">Insert value</span>
        Bebsite
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Logo')">
        <i class="icon ion-ios-arrow-right icon-small"></i>
        <span class="item-note">Insert value</span>
        Logo
      </a>
    </div>
  </ion-content>
</ion-view>