<ion-view view-title="Edit {{currentFieldName}}">
   <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear" ng-click="doCancel()">Cancel</button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="doSaveBizFieldValue()">Continue</button>
    </ion-nav-buttons>
  </ion-nav-bar>

<ion-content class="grey-bg">

  <div class="card" ng-if="serverErrors.length">
    <div class="item item-text-wrap error" ng-repeat="serverError in serverErrors">
      {{serverError}}
    </div>
  </div>

  <div ng-switch on="currentFieldName">

    <div class="list" ng-switch-when="Name">
      <label class="item item-input">
        <input type="text" placeholder="Example: LAMTECH Consulting Enterprises" ng-model="newBizData.title">
      </label>
    </div>

    <div class="list" ng-switch-when="Category">
	  <label class="item">
	    <div class="padding-b2x">Enter one category that best describe the core focus of your business</div>
        <ionic-autocomplete autocomplete-input="autocompleteInput"></ionic-autocomplete>
	  </label>
    </div>

    <div class="list" ng-switch-when="Keywords">
	  <label class="item">
       <div class="padding-b2x">Provide up to three keywords that best describe your business activities</div>
       <ionic-autocomplete autocomplete-input="autocompleteInput"></ionic-autocomplete>
	  </label>
    </div>

    <div class="list" ng-switch-when="Address">
      <div class="padding"><button class="button button-full button-calm" ng-click="captureCurrentLocation('Address')">Use my current location</button></div>
      <label class="item item-input">
        <input type="text" placeholder="Example: 84 Kissy Road" ng-model="newBizData.field_ltc_biz_address.und[0].thoroughfare">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Example: 3rd Floor" ng-model="newBizData.field_ltc_biz_address.und[0].premise">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Example: Freetown" ng-model="newBizData.field_ltc_biz_address.und[0].locality">
      </label>
    </div>

    <div class="list" ng-switch-when="Geocode">
      <label class="item item-input">
        <input type="text" placeholder="Map your business Location" ng-model="Geocode" readonly="true">
      </label>
      <div class="padding">
      <button class="button button-block button-calm" ng-click="captureCurrentLocation('Geocode')"><i class="ion-ios-location"></i> Use my current location</button>
      <button class="button button-block button-calm" ng-click="enterNewLocation()"><i class="ion-android-locate"></i>Use my new address</button>
      <div class="list">
         <label class="item item-input">
           <input type="text" ng-model="bizLocation.street" placeholder="Street">
         </label>

         <label class="item item-input">
           <input type="text" ng-model="bizLocation.city" placeholder="City">
         </label>
        </div>
      </div>
    </div>

    <div class="list" ng-switch-when="Chiefdom">
      <label class="item">
        <div class="padding-b2x">Select your province followed by district and chiefdom. This is important for ranking</div>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Provience</div>
        <select ng-model="Provience" ng-options="item.location.name for item in ProvienceItem" ng-change="getDistrictItem(Provience)"></select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">District</div>
        <select ng-model="District" ng-change="getChiefdomItem(District)" ng-options="item.district.name for item in DistrictItem"></select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Chiefdom</div>
        <select ng-model="Chiefdom" ng-options="item.location.name for item in ChiefdomItem"></select>
      </label>
    </div>

    <div class="list" ng-switch-when="Email">
      <label class="item item-input">
        <input type="text" placeholder="Example: yourname@yourcompany.com" ng-model="newBizData.field_ltc_biz_email.und[0].email">
      </label>
    </div>

    <div class="list" ng-switch-when="Phone">
      <label class="item item-input">
        <input type="text" placeholder="Example: +232 76 617550" ng-model="newBizData.field_ltc_biz_telephone.und[0].value">
      </label>
    </div>

    <div ng-switch-when="Hours">
      <div class="list">
        <div class="row">
          <div class="col">
            <select ng-model="Hours.days.mon" ng-options="item.label for item in days"></select>
          </div>
          <div class="col">
            <select ng-model="Hours.opening.mon" ng-options="item.label for item in hours"></select>
          </div>
          <div class="col">
            <select ng-model="Hours.closing.mon" ng-options="item.label for item in hours"></select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <select ng-model="Hours.days.tue" ng-options="item.label for item in days"></select>
          </div>
          <div class="col">
            <select ng-model="Hours.opening.tue" ng-options="item.label for item in hours"></select>
          </div>
          <div class="col">
            <select ng-model="Hours.closing.tue" ng-options="item.label for item in hours"></select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <select ng-model="Hours.days.wed" ng-options="item.label for item in days"></select>
          </div>
          <div class="col">
            <select ng-model="Hours.opening.wed" ng-options="item.label for item in hours"></select>
          </div>
          <div class="col">
            <select ng-model="Hours.closing.wed" ng-options="item.label for item in hours"></select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <select ng-model="Hours.days.thu" ng-options="item.label for item in days"></select>
          </div>
          <div class="col">
            <select ng-model="Hours.opening.thu" ng-options="item.label for item in hours"></select>
          </div>
          <div class="col">
            <select ng-model="Hours.closing.thu" ng-options="item.label for item in hours"></select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <select ng-model="Hours.days.fri" ng-options="item.label for item in days"></select>
          </div>
          <div class="col">
            <select ng-model="Hours.opening.fri" ng-options="item.label for item in hours"></select>
          </div>
          <div class="col">
            <select ng-model="Hours.closing.fri" ng-options="item.label for item in hours"></select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <select ng-model="Hours.days.sat" ng-options="item.label for item in days"></select>
          </div>
          <div class="col">
            <select ng-model="Hours.opening.sat" ng-options="item.label for item in hours"></select>
          </div>
          <div class="col">
            <select ng-model="Hours.closing.sat" ng-options="item.label for item in hours"></select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <select ng-model="Hours.days.sun" ng-options="item.label for item in days"></select>
          </div>
          <div class="col">
            <select ng-model="Hours.opening.sun" ng-options="item.label for item in hours"></select>
          </div>
          <div class="col">
            <select ng-model="Hours.closing.sun" ng-options="item.label for item in hours"></select>
          </div>
        </div>
      </div>
    </div>

    <div class="list" ng-switch-when="Description">
      <label class="item item-input">
        <textarea rows="10" placeholder="Example: We are a group of Creative Thinkers, ICT Strategists, Technical Architects, Software Developers, Web Designers, User Experience Professionals, Open Data Experts, Open Source Lovers, Gen Xers, and Millennials. We help businesses and brands, governments, and NGOs improve their existing intranets, platforms, social media platforms, websites and create innovative digital solutions, engaging tools, and customer experiences by providing a full range of ICT products, services and solutions." ng-model="newBizData.field_ltc_biz_description.und[0].value"></textarea>
      </label>
    </div>

    <div class="list" ng-switch-when="Website">
      <label class="item item-input">
        <input type="text" placeholder="Example: http://www.yourcompanyname.sl" ng-model="newBizData.field_ltc_biz_website.und[0].url">
      </label>
    </div>

    <div class="list" ng-switch-when="Logo">
      <div class="button-bar">
        <button class="button button-full shadow-none icon icon-top ion-android-camera" ng-click="useCamera()">Take Photo</button>
        <button class="button button-full shadow-none icon icon-top ion-android-image" ng-click="useGallery()">Select from library</button>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>
