<ion-view view-title="Select A Location">
   <ion-nav-bar class="bar-header bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
   <div class="list">
   <label class="item item-input item-stacked-label">
   <span class="input-label">STREET</span>
   <input type="text" placeholder="Required">
   </label>

   <label class="item item-input item-stacked-label">
   <span class="input-label">CITY</span>
   <input type="text" placeholder="Required">
   </label>
   
   <label class="item item-input item-stacked-label">
   <span class="input-label">COUNTRY</span>
   <input type="text" placeholder="Sierra Leone">
   </label>
</div>
  </ion-content>
</ion-view>