<ion-view view-title="Directions">
   <ion-nav-bar class="bar-header bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="list">
      <div class="item item-icon-right" href="#" ng-click="directionStartPoint()">
        <i class="icon ion-ios-arrow-forward icon-small"></i>
        <span class="item-note" ng-if="startpoint.myLocation">My current Location</span>
        <span class="item-note" ng-if="startpoint.customLocation">{{startpoint.customLocation.address}}</span>
        Start Point
      </div>
      <div class="item item-icon-right" href="#" ng-click="directionEndPoint()">
        <i class="icon ion-ios-arrow-forward icon-small"></i>
          <span class="item-note" ng-if="businessesDetails.street">{{businessesDetails.street}}, {{businessesDetails.city}}</span>
          <span class="item-note" ng-if="endpoint.customLocation.address">{{endpoint.customLocation.address}}</span>
        End Point
      </div>
    </div>
    <div class="get-direction-map">
	  <h4 class="dark-bg light padding m-none">View In</h4>
	  <ion-list>
	    <!--<ion-radio ng-model="choice" value="apple">Apple Map</ion-radio>-->
	    <ion-radio ng-model="choice" value="google">Google Map</ion-radio>
	    <!--<ion-radio ng-model="choice" value="waze">Waze Map</ion-radio>-->
	  </ion-list>
	  <div class="padding"><button class="button button-block button-calm" ng-click="directionMap(choice)">Get Directions</button></div>
    </div>
  </ion-content>
</ion-view>