<ion-view view-title="">
   <ion-nav-bar class="bar-header bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
    <ion-nav-title><img src="assets/img/splash_logo_small.png"/></ion-nav-title>
  </ion-nav-bar>

  <ion-content class="biz-page">
    <ion-list class="biz-list biz-details">
      <ion-item>
	    <h2>{{businessesDetails.title}}</h2>
	    <div class="biz-ratings">
		  <span class="rating-numbers">{{businessesDetails.ratings | rating}}/5</span><div class="star-rating"><span style="width:{{businessesDetails.ratings}}"></span></div> {{businessesDetails.reviewcount}} Reviews
        </div>
        <div class="biz-category"><span>{{businessesDetails.keywords}}</span>, <span>{{businessesDetails.category}}</span></div>
        <div class="biz-hours">Hours Today{{getTimeFormat(businessesDetails.hours)}}</div>
        <span class="mi">{{businessesDetails.distance}} mi</span>
        <span class="{{getStatus(businessesDetails.hours)}}">{{getStatus(businessesDetails.hours)}}</span>
      </ion-item>
    </ion-list>

    <button class="button button-full button-calm shadow-none m-none" ng-click="writeReviewClick()"><i class="icon ion-compose"></i> Write a Review</button>
    <div class="button-bar">
      <button class="button button-small icon icon-top ion-android-bookmark" ng-click="bookmarkClick()">Bookmark</button>
      <button class="button button-small icon icon-top ion-ios-locked-outline" ng-click="claimBusinessClick()">Claim Business</button>
      <button class="button button-small icon icon-top ion-edit" ng-click="editBusinessClick()">Edit Business</button>
    </div>

    <div class="map-address">
      <div class="map" ng-show="businessesDetails.geocode_lat!='' && businessesDetails.geocode_lat!=null"></div>
      <div class="button button-full button-stable shadow-none m-none icon-right ion-ios-arrow-right address">
        <span>{{businessesDetails.street}}</span>,
        <span>{{businessesDetails.city}}</span>,
        <span>{{businessesDetails.country}}</span>
      </div>
    </div>

    <div class="list slr-list border-top border-bottom m-none">
      <a class="item item-icon-left" ng-click="getBizLocation()">
        <i class="icon ion-ios-navigate-outline"></i>
        <div class="slr-item-text">
          <h4>Get Direction to Business</h4>
          <p>{{businessesDetails.distance}}</p>
        </div>
      </a>
      <a class="item item-icon-left" href="tel://{{businessesDetails.phone}}">
        <i class="icon ion-ios-telephone"></i>
        <div class="slr-item-text">
          <h4>Call Business</h4>
          <p>{{businessesDetails.phone}}</p>
        </div>
      </a>
      <a class="item item-icon-left"  href="mailto:{{businessesDetails.email}}">
        <i class="icon ion-ios-email"></i>
        <div class="slr-item-text">
          <h4>Send Business and Email</h4>
          <p>{{businessesDetails.email}}</p>
        </div>
      </a>
      <div class="item item-icon-left last" ng-if="!showMoreDetails" ng-click="showMoreBizDetail()">
        <i class="icon ion-more"></i>
        <div class="slr-item-text">
          <h4>View More Info</h4>
          <p>description, photo, category, chiefdom</p>
        </div>
      </div>
      <div class="toggleBiz" ng-if="showMoreDetails">
        <div class="item item-icon-left" >
          <i class="icon ion-ios-pricetag"></i>
          <div class="slr-item-text">
            <h4>Category</h4>
            <p>{{businessesDetails.category}}</p>
          </div>
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-aperture"></i>
          <div class="slr-item-text">
            <h4>Chiefdom</h4>
            <p>{{businessesDetails.chiefdom}}</p>
          </div>
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-document-text"></i>
          <div class="slr-item-text item-text-wrap">
            <h4>Description</h4>
            <p>{{businessesDetails.description}} Venenatis arcu ipsa provident possimus quos. Ullamcorper, explicabo qui quis? Nemo eligendi habitant 
	            ullamcorper delectus ullamco dicta deserunt vulputate quidem blanditiis, ratione commodi cupiditate,</p>
          </div>
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-ios-camera"></i>
          <div class="slr-item-text">
            <h4>Photos</h4>
          </div>
        </div>
        <div class="item item-icon-left last">
          <div class="slr-item-text">
            <img ng-src="{{businessesDetails.image.src}}" width="50px" height="50px" />     
          </div>
        </div>
      </div>
      <div class="button button-full ion-chevron-up shadow-none m-none" ng-click="showMoreBizDetail()" ng-if="showMoreDetails"></div>
    </div>

    <div class="recommended-reviews"  ng-hide="showMoreDetails">
	  <h5 class="dark-bg light padding m-none">Recommended Reviews</h5>
	  <div class="padding text-center" ng-if="!businessesReview.length"><ion-spinner icon="spiral"></ion-spinner></div>
      <ion-list class="biz-list">
        <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="bs in businessesReview" ng-click="reviewClicked(bs)">
          <img ng-if="bs.field_ltc_biz_photos.und" ng-src="{{bs.field_ltc_biz_photos.und[0].src}}">
          <img ng-if="!bs.field_ltc_biz_photos.und" src="assets/img/fullsize_biz.png">
	      <h4>{{bs.subject}}</h4>
	      <div class="biz-ratings">
		    <span class="rating-numbers">{{bs.field_ltc_biz_rating.und[0].rating | rating}}/5</span><div class="star-rating"><span style="width:{{bs.field_ltc_biz_rating.und[0].rating | ratingPercentage}}"></span></div> <span am-time-ago="bs.created" am-preprocess="unix"></span>
          </div>
          <p>{{bs.comment_body.und[0]['value']}}</p>
          <i class="icon ion-ios-arrow-right icon-small"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>