<ion-view view-title="">
   <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
    <ion-nav-title><img src="assets/img/splash_logo_small.png"/></ion-nav-title>
  </ion-nav-bar>

  <ion-content class="biz-page">
    <ion-list class="biz-list biz-details">
      <ion-item>
	    <h2>{{businessesDetails.title}}</h2>
	    <div class="biz-ratings {{businessesDetails.ratings | ratingClass}}">
		  <span class="rating-numbers">{{businessesDetails.ratings | rating}}/5</span><div class="star-rating"><span style="width:{{businessesDetails.ratings}}"></span></div> {{businessesDetails.reviewcount}} Reviews
        </div>
        <div class="biz-category"><span>{{businessesDetails.keywords}}</span><!--<span>{{businessesDetails.category}}</span>--></div>
        <div class="biz-hours">Hours Today{{businessesDetails.hours | getTimeFormat}}</div>
        <span class="mi">{{businessesDetails.distance}} mi</span>
        <span class="{{businessesDetails.hours | getStatus}}">{{businessesDetails.hours | getStatus}}</span>
      </ion-item>
    </ion-list>
<div class="obizrbg">
    <button class="button button-block button-assertive shadow-none m-none" ng-click="writeReviewClick()"><i class="icon ion-compose"></i> Write a Review</button>
    <div class="button-bar">
      <!--<button class="button button-small icon icon-top ion-android-bookmark" ng-click="bookmarkClick()">Bookmark</button>-->
      <button class="button obizr-button claimbusiness button-assertive button-small icon icon-top ion-ios-locked-outline" ng-click="claimBusinessClick()">Claim Business</button>
      <button class="button obizr-button editbusiness button-assertive button-small icon icon-top ion-edit" ng-click="editBusinessClick()">Edit Business</button>
    </div>

    <div class="map-address">
    <div class="map" id="map" data-tap-disabled="true"></div>
     <!--  <div class="map" id="map" center="[{{businessesDetails.geocode_lat}}, {{businessesDetails.geocode_long}}]"></div> -->
      <button class="button button-full button-stable shadow-none m-none icon-right ion-ios-arrow-right address" ng-click="businessDetailsMapClick()">
        <span>{{businessesDetails.street}},</span>
         <span ng-if="businessesDetails.city"> {{businessesDetails.city}}</span>
        <!--<span ng-if="businessesDetails.country">, {{businessesDetails.country}}</span>--></p>
      </button>
    </div>
</div>
    <div class="list slr-list border-top border-bottom m-none">
      <a class="item item-icon-left" ng-click="showDirectionMapClick()">
        <i class="icon ion-ios-navigate-outline"></i>
        <div class="slr-item-text">
          <h4>Get Direction to Business</h4>
          <p>{{}}</p>
        </div>
      </a>
      <a class="item item-icon-left" ng-href="tel:{{businessesDetails.phone}}">
        <i class="icon ion-ios-telephone"></i>
        <div class="slr-item-text">
          <h4>Call Business</h4>
          <p>{{businessesDetails.phone}}</p>
        </div>
      </a>
      <a class="item item-icon-left"  ng-href="mailto:{{businessesDetails.email}}">
        <i class="icon ion-ios-email"></i>
        <div class="slr-item-text">
          <h4>Send Business and Email</h4>
          <p>{{businessesDetails.email}}</p>
        </div>
      </a>
      <div class="item item-icon-left last" ng-if="!showMoreDetails" ng-click="showMoreBizDetail()">
        <i class="icon ion-more"></i>
        <div class="slr-item-text">
          <h4>View More Info</h4>
          <p>description, photos, category, chiefdom</p>
        </div>
      </div>
      <div class="toggleBiz" ng-if="showMoreDetails">
        <div class="item item-icon-left" >
          <i class="icon ion-ios-pricetag"></i>
          <div class="slr-item-text">
            <h4>Category</h4>
            <p>{{businessesDetails.category}}</p>
          </div>
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-aperture"></i>
          <div class="slr-item-text">
            <h4>Chiefdom</h4>
            <p>{{businessesDetails.chiefdom}}</p>
          </div>
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-document-text"></i>
          <div class="slr-item-text item-text-wrap">
            <h4>Description</h4>
            <!-- <p>{{businessesDetails.field_ltc_biz_description.und[0].value}}</p> -->
            <p>{{businessesDetails.description}}</p>
          </div>
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-ios-camera"></i>
          <div class="slr-item-text">
            <h4>Photos</h4>
          </div>
        </div>
        <div class="item item-icon-left last">
          <div class="slr-item-text">
            <img ng-src="{{businessesDetails.image.src}}" width="50px" height="50px" />
          </div>
        </div>
      </div>
      <div class="button button-full ion-chevron-up shadow-none m-none" ng-click="showMoreBizDetail()" ng-if="showMoreDetails"></div>
    </div>

    <div class="recommended-reviews"  ng-hide="showMoreDetails">
	    <h5 class="obizrbg light padding m-none">Recommended Reviews</h5>
	    <div class="padding text-center" ng-if="!businessesReview.length">
      <ion-spinner icon="spiral"></ion-spinner></div>
      <ion-list class="biz-list">
        <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="bs in businessesReview">
          <img ng-if="bs.field_ltc_biz_photos.und" ng-src="{{bs.field_ltc_biz_photos.und[0].imgPath}}" ng-click="reviewerProfile(bs.uid)">
          <img ng-if="!bs.field_ltc_biz_photos.und" src="assets/img/fullsize_biz.png" ng-click="reviewerProfile(bs.uid)">
	        <h4>{{bs.subject}}</h4>
  	      <div class="biz-ratings {{bs.field_ltc_biz_rating.und[0].rating | ratingClass}}" ng-click="reviewerDetails(bs.cid)">
  		      <span class="rating-numbers">{{bs.field_ltc_biz_rating.und[0].rating | rating}}/5</span>
            <div class="star-rating">
              <span style="width:{{bs.field_ltc_biz_rating.und[0].rating | ratingPercentage}}"></span>
            </div> <span am-time-ago="bs.created" am-preprocess="unix"></span>
          </div>
          <p>{{bs.comment_body.und[0]['value']}}</p>
          <i class="icon ion-ios-arrow-right icon-small"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
