<ion-view view-title="Map">
   <ion-nav-bar class="bar-header bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
    <ion-nav-title><img src="assets/img/splash_logo_small.png"/></ion-nav-title>
  </ion-nav-bar>

  <ion-content class="ion-biz-map-content">
    <div class="row biz-map-details">
      <div class="col col-75">
	    <h4>{{businessesDetailsMap.title}}</h4>
	    <p><span>{{businessesDetailsMap.street}}</span>
        <span ng-if="businessesDetailsMap.city">, {{businessesDetailsMap.city}}</span>
        <span ng-if="businessesDetailsMap.country">, {{businessesDetailsMap.country}}</span></p>
      </div>
      <div class="col text-right">
	    <button class="button button-light shadow-none icon icon-top ion-ios-navigate-outline" ng-click="showDirectionMapClick()">Direction</button>
      </div>
    </div>

    <div class="biz-map-page">
	  <div class="map" id="map"></div>
	</div>    
  </ion-content>
</ion-view>