<ion-view view-title="Select A Location">
   <ion-nav-bar class="bar-header bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <h5 class="dark-bg light padding m-none">Start from location</h5>
    <div class="list">
      <div class="item item-icon-left item-icon-right" ng-click="directionStartPointLocation()">
        <i class="icon ion-compass"></i> <i class="icon ion-ios-arrow-forward icon-small"></i> An Address
      </div>
      <div class="item item-icon-right text-right grey" href="#/app/">
        <i class="icon ion-ios-arrow-forward icon-small"></i> My Current Location
      </div>
    </div>
  </ion-content>
</ion-view>