<ion-view>
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Cancel </ion-nav-back-button>
    <!-- <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="saveWriteReview()">Done</button>
    </ion-nav-buttons> -->
  </ion-nav-bar>

  <ion-content>
    <div class="button-bar">
      <button class="button button-full shadow-none icon icon-top ion-android-camera" ng-click="useCamera()">Take Photo</button>
      <button class="button button-full shadow-none icon icon-top ion-android-image" ng-click="useGallery()">Select from library</button>
    </div>
  </ion-content>
</ion-view>