<ion-view view-title="Write a Review">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="saveWriteReview()">Done</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <rating ng-model="rating.rate" max="rating.max" class="text-center padding-t2x"></rating>

    <div class="card" ng-if="serverErrors.length">
      <div class="item item-text-wrap" ng-repeat="serverError in serverErrors">
        {{serverError}}
      </div>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Subject:" ng-model="writeReviewData.subject">
      </label>
      <label class="item item-input">
        <textarea placeholder="Review:" ng-model="writeReviewData.comment_body.und[0].value"></textarea>
      </label>
    </div>
    <button class="button button-full shadow-none icon icon-top ion-ios-camera" ng-click="getPicture()">Add Photos</button>
  </ion-content>
</ion-view>