<ion-view view-title="Add Business">
   <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="addBiz()">Done</button>
    </ion-nav-buttons>
  </ion-nav-bar>

<ion-content>
  <ul class="list">
    <div class="item item-divider">
      Country
    </div>
      <label class="item item-input">
        <input type="text" placeholder="Sierra Leone">
      </label>

      <div class="item item-divider">
          Required Information
      </div>
      <a class="item item-icon-right" ng-click="setBizValFor('Name')">
        Name
        <span class="item-note">
          Insert value
        </span>
        <i class="icon ion-ios-arrow-right icon-small"></i>
      </a>
       <a class="item item-icon-right" ng-click="setBizValFor('Category')">
        Category
        <span class="item-note">
          Insert value
        </span>
        <i class="icon ion-ios-arrow-right icon-small"></i>
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Keywords')">
        Keywords
        <span class="item-note">
          Insert value
        </span>
        <i class="icon ion-ios-arrow-right icon-small"></i>
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Address')">
        Address
        <span class="item-note">
          Insert value
        </span>
        <i class="icon ion-ios-arrow-right icon-small"></i>
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Geocode')">
        Geocode
        <span class="item-note">
          Insert value
        </span>
        <i class="icon ion-ios-arrow-right icon-small"></i>
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Chiefdom')">
        Chiefdom
        <span class="item-note">
          Insert value
        </span>
        <i class="icon ion-ios-arrow-right icon-small"></i>
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Email')">
        Email
        <span class="item-note">
          Insert value
        </span>
        <i class="icon ion-ios-arrow-right icon-small"></i>
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Phone')">
        Phone
        <span class="item-note">
          Insert value
        </span>
        <i class="icon ion-ios-arrow-right icon-small"></i>
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Hours')">
        Hours
        <span class="item-note">
          Insert value
        </span>
        <i class="icon ion-ios-arrow-right icon-small"></i>
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Description')">
        Description
        <span class="item-note">
          Insert value
        </span>
        <i class="icon ion-ios-arrow-right icon-small"></i>
      </a>
      
      <div class="item item-divider">
          Optional Information
      </div>
      <a class="item item-icon-right" ng-click="setBizValFor('Bebsite')">
        Bebsite
        <span class="item-note">
          Insert value
        </span>
        <i class="icon ion-ios-arrow-right icon-small"></i>
      </a>
      <a class="item item-icon-right" ng-click="setBizValFor('Logo')">
        Logo
        <span class="item-note">
          Insert value
        </span>
        <i class="icon ion-ios-arrow-right icon-small"></i>
      </a>
  </ul>
  </ion-content>
</ion-view>