<ion-view view-title="Edit {{currentFieldName}}">
   <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear" ng-click="doCancel()">Cancel</button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="doSaveFilterFieldValue()">Done</button>
    </ion-nav-buttons>
  </ion-nav-bar>

<ion-content class="grey-bg">
  <div ng-switch on="currentFieldName">
    <div class="list" ng-switch-when="Category">
	  <label class="item">
	    <div class="padding-b2x">Provide only one Category that best describe the core focus of your business</div>
        <ionic-autocomplete autocomplete-input="autocompleteInput"></ionic-autocomplete>
	  </label>
    </div>

    <div class="list" ng-switch-when="Keywords">
	  <label class="item">
       <div class="padding-b2x">Provide up to three keywords that best describe the core focus of your business</div>
       <ionic-autocomplete autocomplete-input="autocompleteInput"></ionic-autocomplete>
	  </label>
    </div>

    <div class="list" ng-switch-when="District">
      <label class="item item-input" ng-model="filter.district">
        <input type="text" placeholder="District">
      </label>
    </div>

    <div class="list" ng-switch-when="Chiefdom">
      <label class="item item-input" ng-model="filter.chiefdom">
        <input type="text" placeholder="Chiefdom">
      </label>
    </div>

    <div class="list" ng-switch-when="Village">
      <label class="item item-input" ng-model="filter.village">
        <input type="text" placeholder="Village/Town">
      </label>
    </div>

<!--     <div class="list" ng-switch-when="Chiefdom">
      <label class="item item-input item-select">
        <div class="input-label">Provience</div>
        <select ng-model="Provience" ng-options="item.label for item in ProvienceItem"></select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">District</div>
        <select ng-model="District" ng-options="item.label for item in DistrictItem"></select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Chiefdom</div>
        <select ng-model="Chiefdom" ng-options="item.label for item in ChiefdomItem"></select>
      </label>  
    </div>

    <div class="list" ng-switch-when="Email">
      <label class="item item-input">
        <input type="text" placeholder="name@company.com" ng-model="newBizData.field_ltc_biz_email.und[0].email">
      </label>
    </div> -->
    <div class="list" ng-switch-when="BestMatch">
      <label class="item item-input" ng-model="filter.bestMatch">
        <input type="text" placeholder="Best Match">
      </label>
    </div>
    <div class="list" ng-switch-when="Distance">
      <label class="item item-input" ng-model="filter.distance">
        <input type="text" placeholder="Distance">
      </label>
    </div>

  </div>
</ion-content>
</ion-view>