<ion-view view-title="nearby">
  <ion-header-bar class="bar bar-positive bar-header item-input-inset">
    <button class="button button-clear" ng-click="getMapView()">Map</button>
      <label class="item-input-wrapper search-box">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Businesses nearby" ng-model="searchText" ng-change="doSearch()" />
      </label>
    <button class="button button-clear" ng-click="getFilterView()">Filter</button>
  </ion-header-bar>

  <ion-content>
    <ion-refresher  pulling-text="Refresh..." on-refresh="doRefresh()"> </ion-refresher>
    <ion-list class="biz-list">
      <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="bs in displayBusinesses |limitTo:more | filter:searchText" ng-click="businessDetails(bs.node.nid)">
        <img ng-if="bs.node.image.src" ng-src="{{bs.node.image.src}}" alt="{{bs.node.image.alt}}">
        <img ng-if="!bs.node.image.src" src="assets/img/fullsize_biz.png">
	    <h2>{{bs.node.title}}</h2>
	    <div class="biz-ratings {{bs.node.ratings | ratingClass}}">
		  <span class="rating-numbers">{{bs.node.ratings | rating}}/5</span><div class="star-rating"><span style="width:{{bs.node.ratings}}"></span></div> {{bs.node.reviewcount}} Reviews
        </div>
        <div class="biz-category">{{bs.node.category}}</div>
        <div class="biz-hours">Hours Today{{bs.node.hours | getTimeFormat}}</div>
        <span class="mi">{{bs.node.distance}} mi</span>
        <span class="{{bs.node.hours | getStatus}}">{{bs.node.hours | getStatus}}</span>
        <i class="icon ion-ios-arrow-right icon-small"></i>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="moreDataCanBeLoaded"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>