<ion-view view-title="My account">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-more" ng-click="showProfile()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="card" ng-if="serverErrors.length">
      <div class="item item-text-wrap" ng-repeat="serverError in serverErrors">
        {{serverError}}
      </div>
    </div>

    <div class="item item-avatar avatar-top text-center">
	  <img ng-if="currentUser.pictureUrl" ng-src="{{currentUser.pictureUrl}}">
      <img ng-if="!currentUser.pictureUrl" src="assets/img/user/default-avatar.png">
	  <h2 ng-if="currentUser.field_user_nick_name">{{currentUser.field_user_nick_name.und[0].value}}</h2>
	  <h2 ng-if="!currentUser.field_user_nick_name">{{currentUser.name}}</h2>
    </div>

    <div class="list slr-list border-bottom">
      <a class="item item-icon-left item-icon-right" ng-click="myReviewerProfile()" href="#/app/view-profile">
        <i class="icon ion-person icon-circle"></i> <div class="slr-item-text">My Reviewer Profile</div> <i class="icon ion-ios-arrow-forward icon-small"></i>
      </a>

      <a class="item item-icon-left item-icon-right" ng-click="myReviewers()" href="#/app/myReviews">
        <i class="icon ion-android-star icon-circle"></i> <div class="slr-item-text">My Reviews</div> <i class="icon ion-ios-arrow-forward icon-small"></i>
      </a>

    <!--<a class="item item-icon-left item-icon-right" ng-click="myBookmarks()" href="#/app/myBookMarks">
        <i class="icon ion-android-bookmark icon-circle"></i> <div class="slr-item-text">My Bookmarks</div> <i class="icon ion-ios-arrow-forward icon-small-x icon-shadow"></i>
      </a>

      <a class="item item-icon-left item-icon-right" ng-click="myMessages()" href="#/app/myMessages">
        <i class="icon ion-ios-email-outline icon-circle"></i> <div class="slr-item-text">My Messages</div> <i class="icon ion-ios-arrow-forward icon-small-x icon-shadow"></i>
      </a>-->

      <a class="item item-icon-left item-icon-right" ng-click="myFriends()" href="#/app/myFriends">
        <i class="icon ion-person-stalker icon-circle"></i> <div class="slr-item-text">My Friends</div> <i class="icon ion-ios-arrow-forward icon-small"></i>
      </a>

      <a class="item item-icon-left item-icon-right" ng-click="myFollowers()" href="#/app/myFollowers">
        <i class="icon ion-ios-people icon-circle"></i> <div class="slr-item-text">My Followers</div> <i class="icon ion-ios-arrow-forward icon-small"></i>
      </a>

      <a class="item item-icon-left item-icon-right" ng-click="myFollowings()" href="#/app/myFollowings">
        <i class="icon ion-ios-people icon-circle"></i> <div class="slr-item-text">My Followings</div> <i class="icon ion-ios-arrow-forward icon-small"></i>
      </a>

      <a class="item item-icon-left item-icon-right last" ng-click="recentActivities()"  href="#/app/recentActivies">
        <i class="icon ion-ios-list-outline icon-circle"></i> <div class="slr-item-text">Recent Activities</div> <i class="icon ion-ios-arrow-forward icon-small"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
