<ion-view view-title="My Followings">
   <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
    <!-- <ion-nav-buttons side="right">
      <button class="button button-icon ion-more" ng-click="editProfile()"></button>
    </ion-nav-buttons> -->
  </ion-nav-bar>

  <ion-content>
    <div class="list"  ng-repeat="following in followings">
       <a class="item item-avatar item-icon-left item-icon-right">
        <img ng-if="currentUser.pictureUrl" ng-src="{{currentUser.pictureUrl}}">
        <img ng-if="!currentUser.pictureUrl" src="assets/img/user/default-avatar.png">
        <p ng-if="friend.relationship.nickname">{{following.relationship.nickname}}</p>
        <p ng-if="!friend.relationship.nickname">{{following.relationship.username}}</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
