<ion-view view-title="Reviewer Profile">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-more" ng-click="editProfile()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="card" ng-if="serverErrors.lenght">
      <div class="item item-text-wrap" ng-repeat="serverError in serverErrors">
        {{serverError}}
      </div>
    </div>

    <div class="item item-avatar avatar-top calm text-center">
      <img ng-if="reviewerProfile.picture" ng-src="{{reviewerProfile.picture.url}}">
      <img ng-if="!reviewerProfile.picture" src="assets/img/user/default-avatar.png">
      <h2 class="light" ng-if="reviewerProfile.field_user_nick_name">{{reviewerProfile.field_user_nick_name.und[0].value}}</h2>
      <h2 class="light" ng-if="!reviewerProfile.field_user_nick_name">{{reviewerProfile.name}}</h2>
    </div>

 <!--    <div class="button-bar">
      <button class="button button-small icon icon-top ion-ios-plus-outline" ng-click="addFriend()">Add Friend</button>
      <button class="button button-small icon icon-top ion-arrow-right-c" ng-click="Follow()">Follow</button>
    </div> -->

    <div class="list slr-list border-bottom">
      <div class="item item-icon-left">
        <i class="icon ion-person"></i>
        <div class="slr-item-text">
        <h2>Full Name</h2>
          <p>{{reviewerProfile.field_user_nick_name.und[0].value}}</p>
        </div>
      </div>
      <div class="item item-icon-left last">
        <i class="icon ion-document-text"></i>
        <div class="slr-item-text">
        <h2>About me</h2>
          <p>{{reviewerProfile.field_user_about_me.und[0].value}}</p>
        </div>
      </div>
    </div>

    <div class="recommended-reviews"  ng-hide="showMoreDetails">
      <h5 class="dark-bg light padding m-none">Recent Reviews by
      {{reviewerProfile.field_user_nick_name.und[0].value}}</h5>
      <div class="padding text-center" ng-if="!businessesReview.length">
      <ion-spinner icon="spiral"></ion-spinner></div>
      <ion-list class="biz-list">
        <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="bs in businessesReview">
          <img ng-if="bs.field_ltc_biz_photos.und" ng-src="{{bs.field_ltc_biz_photos.und[0].imgPath}}" ng-click="reviewerProfile(bs.uid)">
          <img ng-if="!bs.field_ltc_biz_photos.und" src="assets/img/fullsize_biz.png" ng-click="reviewerProfile(bs.uid)">
          <h4>{{bs.subject}}</h4>
          <div class="biz-ratings {{bs.field_ltc_biz_rating.und[0].rating | ratingClass}}" ng-click="reviewerDetails(bs.cid)">
            <span class="rating-numbers">{{bs.field_ltc_biz_rating.und[0].rating | rating}}/5</span><div class="star-rating"><span style="width:{{bs.field_ltc_biz_rating.und[0].rating | ratingPercentage}}"></span></div> <span am-time-ago="bs.created" am-preprocess="unix"></span>
          </div>
          <p>{{bs.comment_body.und[0]['value']}}</p>
          <i class="icon ion-ios-arrow-right icon-small"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
