<ion-view view-title="Edit My Profile">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button side="left">Back </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <!-- <div class="card" ng-show="serverErrors">
      <div class="item item-text-wrap" ng-repeat="serverError in serverErrors">
        {{serverError}}
      </div>
    </div> -->

    <div class="item item-avatar avatar-top text-center">
	  <img ng-if="currentUser.pictureUrl" ng-src="{{currentUser.pictureUrl}}">
      <img ng-if="!currentUser.pictureUrl" src="assets/img/user/default-avatar.png">
	  <h2 ng-if="currentUser.field_user_nick_name">{{profile.field_user_nick_name.und[0].value}}</h2>
    </div>

    <form name="editProfileForm" ng-submit="saveProfile(editProfileForm)" novalidate>
	  <div class="list slr-list border-bottom">
        <label class="item item-input item-stacked-label item-icon-left">
          <i class="icon ion-person"></i>
          <div class="slr-item-text"><input type="text" placeholder="Full Name" ng-model="profileUpdate.field_user_nick_name.und[0].value"></div>
        </label>
        <label class="item item-input item-stacked-label item-icon-left">
          <i class="icon ion-android-phone-portrait"></i>
          <div class="slr-item-text"><input type="text" placeholder="Phone" ng-model="profileUpdate.field_mobile_user_telephone.und[0].value"></div>
        </label>
        <label class="item item-input item-stacked-label item-icon-left">
          <i class="icon ion-email"></i>
          <div class="slr-item-text"><input type="text" placeholder="john@example.com" ng-model="profile.mail" readonly="true"></div>
        </label>
        <label class="item item-input item-stacked-label item-icon-left last">
          <i class="icon ion-document-text"></i>
          <div class="slr-item-text">
	        <span class="input-label">About me</span>
	        <textarea placeholder="Write something about you" ng-model="profileUpdate.field_user_about_me.und[0].value"></textarea>
	      </div>
        </label>
      </div>
      <div class="padding3x">
        <button class="button button-block button-assertive" ng-submit="saveProfile(editProfileForm)">SAVE PROFILE</button>
      </div>
    </form>
  </ion-content>
</ion-view>
