<ion-slide-box on-slide-changed="slideHasChanged($index)" class="positive-bg text-center">
  <ion-slide class="padding2x">
    <div class="splash-header logo"><img src="assets/img/splash_logo_small.png" /></div>
    <div class="splash-body">
        <h2 class="title">Welcome OBizR</h2>
        <p>Open Business Reviews (OBizR) - Sierra Leone location-based business reviews and travel guide. OBizR is your local guide to finding the best places to eat, shop, drink, sleep, relax and play</p>
    </div>
    <div class="splash-footer">
	    <a href on-tap="nextSlide()"><img src="assets/img/agreement_round.png" /></a>
    </div>
  </ion-slide>

  <!-- second slide-->
  <ion-slide class="padding2x">
    <div class="splash-header logo"><img src="assets/img/splash_logo_small.png" /></div>
 	<div class="splash-body">
 		<h2 class="title">Why Use OBizR</h2>
 		<p>Use OBizR to quickly find top rated businesses nearby. Its free and easy to share your experience using five star ratings, photos and text comments. Your shared experience will help others like you make informed decisions. Your reviews will help the business owner improve service delivery</p>
 	</div>
 	<div class="splash-footer" ng-click="splash2Enter()">
		<a href on-tap="nextSlide()"><img src="assets/img/write-a-review-icon.png" /></a>
 	</div>
  </ion-slide>

  <!-- third slide-->
  <ion-slide class="padding2x">
    <div class="splash-header logo"><img src="assets/img/splash_logo_small.png" /></div>
 	<div class="splash-body">
 		<h2 class="title">OBizR Key Features</h2>
 		<ol>
            <li>Find top rated businesses nearby</li>
            <li>Get directions to business location</li>
            <li>Find opening and closing hours</li>
            <li>Contact business via email and phone</li>
            <li>Write a review with photos and five-star rating</li>
            <li>Update business details when they not wrong</li>
            <li>Receive mobile notifications and SMS Alerts</li>
            <li>Make new friends and follow reviewers</li>
            <li>Send and receive inApp messages</li>
        </ol>
 	</div>
 	<div class="splash-footer" ng-click="splash3Enter()">
 		<a href on-tap="nextSlide()"><img src="assets/img/why-list-your-business-icon.png" /></a>
 	</div>
  </ion-slide>

  <!-- fourth slide-->
  <ion-slide class="padding2x">
    <div class="splash-header logo"><img src="assets/img/splash_logo_small.png" /></div>
    <div class="splash-body">
 		<h2 class="title">Why Add/Claim your Business</h2>
 		<p>To interact with your customers seamlessly, stay relevant in your industry, increase revenue, improve reputation, maintain status, serve more customers, deliver better services, and increase a loyal customer base. OBizR is 100% free to list and manage your business listing.</p>
    </div>
    <div class="splash-footer">
    	<span on-tap="signinClick()"><a href="#" ><img src="assets/img/login_round.png" /></a></span>
        <span on-tap="signupClick()"><a href="#"><img src="assets/img/signup_round.png"/></a></span>
    </div>
  </ion-slide>
</ion-slide-box>

<ion-footer-bar align-title="left" class="bar-clear">
  <button class="button button-calm login" on-tap="signinClick()">LOGIN</button>
  <button class="button button-calm signup" on-tap="signupClick()">SIGN UP</button>
</ion-footer-bar>
