<ion-slide-box on-slide-changed="slideHasChanged($index)" class="positive-bg text-center">
  <ion-slide class="padding2x">
    <div class="splash-header logo"><img src="assets/img/splash_logo_small.png" /></div>
    <div class="splash-body">
        <h2 class="title">OBizR Sierra Leone</h2>
        <p>A location-based business reviews and travel guide.</p> <p>Your local guide to finding the best places to eat, shop, drink, sleep, relax and play. OBizR is short for "Open Business Reviews"</p>
    </div>
    <div class="splash-footer">
	    <a href on-tap="nextSlide()"><img src="assets/img/agreement_round.png" /></a>
    </div>
  </ion-slide>

  <!-- second slide-->
  <ion-slide class="padding2x">
    <div class="splash-header logo"><img src="assets/img/splash_logo_small.png" /></div>
 	<div class="splash-body">
 		<h2 class="title">Why Use OBizR?</h2>
 		<p>Use OBizR to quickly find top rated businesses nearby.</p>
     <p>Its free and easy to share your experience using five star ratings, photos and text comments.
       <p>Your shared experience will help others like you make informed decisions. </p>
       <p>Your reviews will help the business owner improve service delivery</p>
 	</div>
 	<div class="splash-footer" ng-click="splash2Enter()">
		<a href on-tap="nextSlide()"><img src="assets/img/write-a-review-icon.png" /></a>
 	</div>
  </ion-slide>

  <!-- third slide-->
  <ion-slide class="padding2x">
    <div class="splash-header logo"><img src="assets/img/splash_logo_small.png" /></div>
 	<div class="splash-body">
 		<h2 class="title">Key Features</h2>
    <ul class="list">
    <li class="item">Find top rated businesses nearby</li>
    <li class="item">Get directions to business location</li>
    <li class="item">Find opening and closing hours  </li>
    <li class="item">Contact business via email and phone</li>
    <li class="item">Write a review with five-star rating</li>
    <li class="item">Update business details when they not wrong</li>
    <li class="item">Receive mobile notifications and SMS Alerts</li>
    <li class="item">Send and receive inApp messages</li>
  </ul>
 	</div>
 	<div class="splash-footer" ng-click="splash3Enter()">
 		<a href on-tap="nextSlide()"><img src="assets/img/why-list-your-business-icon.png" /></a>
 	</div>
  </ion-slide>

  <!-- fourth slide-->
  <ion-slide class="padding2x">
    <div class="splash-header logo"><img src="assets/img/splash_logo_small.png" /></div>
    <div class="splash-body">
 		<h2 class="title">Why List Your Biz?</h2>
    <ul class="list">
      <li class="item">To interact with your customers seamlessly</li>
      <li class="item">To stay relevant in your industry</li>
      <li class="item">To serve more customers and increase revenue</li>
      <li class="item">To improve reputation and maintain status</li>
      <li class="item">To deliver better services</li>
      <li class="item">To increase a loyal customer base</li>
      <li class="item">OBizR is 100% free to list and manage a business</li>
      <li class="item">To hear what my customers are saying</li>
  </ul>

    </div>
    <div class="splash-footer">
    	<span on-tap="signinClick()"><a href="#" ><img src="assets/img/login_round.png" /></a></span>
        <span on-tap="signupClick()"><a href="#"><img src="assets/img/signup_round.png"/></a></span>
    </div>
  </ion-slide>
</ion-slide-box>

<ion-footer-bar align-title="left" class="bar-clear">
  <button class="button button-calm login" on-tap="signinClick()">LOG IN</button>
  <button class="button button-calm signup" on-tap="signupClick()">SIGN UP</button>
</ion-footer-bar>
