<ion-view view-title="Anonymous access">
  <ion-nav-bar class="bar-positive">
   <!--  <ion-nav-back-button side="left">Back </ion-nav-back-button> -->
  </ion-nav-bar>

  <ion-content class="padding login">
    <div class="card">
      <div class="item item-divider text-center">
          Oops!. You are not Logged In.
      </div>
      <div class="item item-text-wrap">
      It looks like you are we don't know much about you at the moment. You need to log in or sign up using the buttons below to help us give you full credit for contributing content to OBizR.
      </div>
    </div>
    <div class="row responsive-sm text-center">
      <div class="col">
      	<a class="button button-block button-assertive" href='#/login'> <i class="icon ion-loading-c"></i> Log In</a>
		    <a class="button button-block button-assertive" href='#/signup'><i class="icon ion-loading-c"></i> Sign Up</a>
      </div>
    </div>
  </ion-content>
</ion-view>
