<ion-view view-title="Anonymous access">
  <ion-nav-bar class="bar-positive">
   <!--  <ion-nav-back-button side="left">Back </ion-nav-back-button> -->
  </ion-nav-bar>

  <ion-content class="padding login">
    <div class="card">
      <div class="item item-divider">
          Oops!. You are not Logged In.
      </div>
      <div class="item item-text-wrap">
        We don't know much about you. We need to know a little about you before we allow you to perform this action
      </div>
    </div>
    <div class="row responsive-sm text-center">
      <div class="col">
      	<a class="button button-block button-assertive" href='#/login'>Log In</a>
		    <a class="button button-block button-assertive" href='#/signup'>Sign Up</a>
      </div>
    </div>
  </ion-content>
</ion-view>
