<ion-view view-title="Anonymous access">
  <ion-nav-bar class="bar-positive">
   <!--  <ion-nav-back-button side="left">Back </ion-nav-back-button> -->
  </ion-nav-bar>

  <ion-content class="padding login">
    <h4>In order to perform this action you need to login or sign up.</h4>
    <div class="row responsive-sm text-center">
      <div class="col">
      	<a class="button button-block button-calm" href='#/login'>Login</a>
		    <a class="button button-block button-calm" href='#/signup'>Sign Up</a>
      </div>       
    </div>
  </ion-content>
</ion-view>