<ion-view view-title="Reset Password">
	<ion-header>
	  <ion-nav-bar class="bar-header bar-positive">
	    <ion-nav-back-button side="left">Back </ion-nav-back-button>
	  </ion-nav-bar>
	</ion-header>

	<ion-content class="padding reset-password">
	   <div class="card" ng-if="serverErrors.length">
	      <div class="item item-text-wrap" ng-repeat="serverError in serverErrors">
	        <p  ng-bind-html="serverError"></p>
	      </div>
	    </div>
	  <div class="row responsive-sm text-center">
        <div class="col">
        	<form name="passwordResetForm" ng-submit="passwordReset(passwordResetForm)" novalidate>
				<div class="list material">
		          <label class="item item-input">
		            <input type="text" placeholder="Username or email-address" ng-model="userEmail.name" required >
		          </label>
		 		</div>
		 		<button class="button-img" ng-click="passwordReset(passwordResetForm)"><img src="assets/img/enter_round.png" alt="Enter" /></button>
	 		</form>
	 	</div>
	 </div>
	</ion-content>
</ion-view>
